# === Assets (may be too big for github) ===
#.assets/

# === OS-specific ===
.DS_Store
Thumbs.db

# === Rider/JetBrains ===
.idea/
*.iml

# === Visual Studio ===
*.sln
*.vcxproj
*.vcxproj.*
*.user
*.opensdf
*.sdf
*.cache
*.pdb

# === Xmake build output ===
build/
x64/
*.exe
*.dll
#*.obj
*.ilk
*.lib
*.exp
*.log
*.o
.xmake/

# === Shader binaries ===
*.spv

# === Clangd / LSP / Editor-generated ===
compile_commands.json
.cache/
.clangd
.vscode/
*.code-workspace

# === CMake (if used later) ===
CMakeCache.txt
CMakeFiles/
cmake-build-*/

# === Backup / misc ===
*~
*.swp
*.bak
*.tmp

